{% extends "todo/base.html" %}
{% block content %}
    <div class="row justify-content-center mt-5">
        {% if file %}
        <div class="col-md-5">
            <h3>Continue Reading</h3>
            <a href="/media/{{ file }}">here</a>
        </div>
        {% else %}
        <div class="col-md-5">
            <h3>View Todo</h3>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" {% if locked %}  class="locked" {% endif %}>
                {% csrf_token %}
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" name="Title"  id="Title" class="form-control" value="{{ todo.Title }}" required {% if locked %} disabled {% endif %} >
                </div>
                <div class="form-group">
                    <label for="Memo">Memo</label>
                    <textarea name="Memo" rows="5" class="form-control" id="Memo" {% if locked %} disabled {% endif %} >{{ todo.Memo }}</textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="Important" class="form-check-input" id="Important" {% if todo.Important %}checked{% endif %}>
                    <label class="form-check-label" for="Important">Important</label>
                </div>
                <button type="submit"  {% if no_save %} class="btn btn-primary no-save" {% else %} class="btn btn-primary" {% endif %}>Save</button>
                <button type="button" onclick="$('#complete').click()"  {% if no_save %} class="btn btn-success no-save" {% else %} class="btn btn-success" {% endif %}>Complete</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete</button>
            </form>
        </div>
    </div>
    {% if todo.Datecompleted is None %}
        <form style='display: none;' method="POST" action="{% url 'completetodo' todo.id %}">
            {% csrf_token %}
            <button id="complete" type="submit">Complete</button>
        </form>
    {% endif %}
    <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button id="delete" type="submit">Delete</button>
    </form>
{% endblock %}